In [1]:
PGHOST='localhost'
PGDATABASE='orbda'
PGUSER='postgres'
PGPASSWORD='yasir'

In [2]:
import json
with open('field_mapper.json', 'r') as f:
    FIELD_MAPPER = json.load(f)

In [3]:
import psycopg2
import sys, os
import numpy as np
import pandas as pd
import pandas.io.sql as psql

In [4]:
# Set up a connection to the postgres server.
conn_string = "host="+ PGHOST +" port="+ "5432" +" dbname="+ PGDATABASE +" user=" + PGUSER \
+" password="+ PGPASSWORD
conn=psycopg2.connect(conn_string)
print("Connected!")

Connected!

In [5]:
# Create a cursor object
cursor = conn.cursor()


def load_data(schema, table, skip = 0, limit = 50):

    sql_command = "SELECT * FROM {}.{} OFFSET {} LIMIT {};".format(str(schema), str(table), skip, limit)
    print (sql_command)

    # Load the data
    data = pd.read_sql(sql_command, conn)

    print(data.shape)
    return (data)

In [6]:
def get_dataframe(table_name, skip, limit, rename = True):
    df = load_data('public', table_name, skip, limit)
    if rename:
        df = df.rename(columns = FIELD_MAPPER[table_name])
    return df

## Structur templates used to model the ORBDA dataset
- bariatrics, 
- chemotherapy,
- hospitalisation, 
- medication,
- miscellaneous, 
- nephrology,
- radiotherapy

In [14]:
get_dataframe('hospitalisation', 50, 500, True)

SELECT * FROM public.hospitalisation OFFSET 50 LIMIT 500;
(500, 21)

,id_,state,issue year,issue month,speciality,healthcare unit,hospitalisation identifier,birth date,gender,ICU â€“ total stay,...,admission date,discharge date,main diagnosis,secondary diagnosis,claim reason,death indicator,nationality,type of hospitalisation,educational level,hospital infection
0,51,ba,2011,08,02,03e588f3d76d1a251cb218a004d23b3f,57b2b5fd4a8fcef7a39269d85db83fc0,19950101,3,0,...,20110501,20110501,O821,,61,0,010,02,0,
1,52,ba,2011,08,02,03e588f3d76d1a251cb218a004d23b3f,57b2b5fd4a8fcef7e0ef4aa3b3e6d022,19930101,3,0,...,20110501,20110501,O821,,61,0,010,02,0,
2,53,ba,2011,08,02,03e588f3d76d1a251cb218a004d23b3f,57b2b5fd4a8fcef79efc6e9db4a0773f,19770101,3,0,...,20110501,20110501,O800,,61,0,010,02,0,
3,54,ba,2011,08,02,03e588f3d76d1a251cb218a004d23b3f,57b2b5fd4a8fcef7fd43a26e2a7ccd80,19890101,3,0,...,20110501,20110501,O800,,61,0,010,02,0,
4,55,ba,2011,08,02,03e588f3d76d1a251cb218a004d23b3f,57b2b5fd4a8fcef790071b7b870c8af6,19840101,3,0,...,20110501,20110501,O800,,61,0,010,02,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,570,ba,2011,08,07,4ab7faa10864b050bc83d258a0234f6b,9b3429cd1e1a53ab6ff48b1b866fd17f,20090101,1,0,...,20110801,20110801,E46,,12,0,010,02,0,
496,571,ba,2011,08,07,4ab7faa10864b050bc83d258a0234f6b,f8ad0fe4ba21eb6c8b56aed37fc54084,20090101,1,0,...,20110801,20110801,J158,,12,0,010,02,0,
497,572,ba,2011,08,07,4ab7faa10864b050bc83d258a0234f6b,f8ad0fe4ba21eb6cc910cb715f660b80,20100101,1,0,...,20110801,20110801,J158,,12,0,010,02,0,
498,573,ba,2011,08,07,4ab7faa10864b050bc83d258a0234f6b,f8ad0fe4ba21eb6c00c5c9d7b36c74da,20090101,1,0,...,20110801,20110801,J159,,12,0,010,02,0,
499,574,ba,2011,08,07,4ab7faa10864b050bc83d258a0234f6b,f8ad0fe4ba21eb6c0b5667f46d482508,20090101,3,0,...,20110801,20110801,J459,,12,0,010,02,0,

In [12]:
sql_command = "SELECT COUNT(*) FROM public.hospitalisation;"
print (sql_command)

# Load the data
data = pd.read_sql(sql_command, conn)

SELECT COUNT(*) FROM public.hospitalisation;

In [13]:
data

      count
0  57287803

In [9]:
class Person:
    def __init__(self, age, name):
        self.age = age
        self.name = name

    def __eq__(self, other):
        return self.age == other.age and self.name == other.name

    def __hash__(self):
        print('The hash is:')
        return hash((self.age, self.name))

person = Person(23, 'Adam')
print(hash(person))

The hash is:
7529260739199241883

In [11]:
import hashlib
hashlib.sha256(b"I am the best president. Ever.").hexdigest()

'fba0e4cc233f9df81278130ed748a31a842bce8f911766b661f8a4f7ddff5341'